#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width:1024px;
    max-height:1024px; 
}

.content {
    flex:auto auto;
    background-color: black;
    padding: 50px;

    
}
.content:hover {
    background-color: white;
}